@page
@model AplicatieLicenta.Pages.Users.ConfirmareEmailModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmare Email</title>
    <link rel="stylesheet" href="/css/confirmareEmail.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="confirm-container">
        <div class="confirm-wrapper">
            <h1>Confirmare Email</h1>
            <p>Introduceți codul de confirmare trimis pe email pentru a valida contul.</p>

            <!-- Formular de confirmare -->
            <form asp-action="ConfirmareEmail" method="post">
                <!-- Câmp Email -->
                <div class="input-group">
                    <label for="email">Email:</label>
                    <div class="input-with-icon">
                        <input type="email" id="email" name="email" placeholder="Email" required />
                       
                    </div>
                </div>

                <!-- Câmp Cod de confirmare -->
                <div class="input-group">
                    <label for="code">Cod de confirmare:</label>
                    <div class="input-with-icon">
                        <input type="text" id="code" name="cod_confirmare" placeholder="Cod de confirmare" required />
           
                    </div>
                </div>

                <!-- Buton de confirmare -->
                <button type="submit" class="confirm-button">Confirmă</button>

                <!-- Buton de retrimitere cod -->
                <button formaction="Resend" formmethod="post" class="retrimitere-button">Retrimite email</button>
            </form>
        </div>
    </div>
</body>
</html>
