@page
@model AplicatieLicenta.Pages.Users.InregistrareModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Înregistrare</title>
    <link rel="stylesheet" href="/css/inregistrare.css" />
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <form asp-action="Inregistrare" method="post">
                <h1 style="color: #C8AD7F;">Inregistrare</h1>
                <span>Completeaza formularul pentru a-ti crea un cont</span>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-danger mt-2">
        @Model.Message
    </div>
}
                <div class="input-group">
                    <label for="email">Email:</label>
                    <div class="input-with-icon">
                        <input type="text" id="email" name="email" placeholder="Email"  />
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
                <div class="input-group">
                    <label for="parola">Parola:</label>
                    <div class="input-with-icon">
                        <input type="password" id="parola" name="parola" placeholder="Parolă" />
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <div class="input-group">
                    <label for="confirmPassword">Confirmare parola:</label>
                    <div class="input-with-icon">
                        <input type="password" id="confirmPassword" name="ConfirmareParola" placeholder="Confirmare parolă" />
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <div class="input-group">
                    <label for="tip-utilizator">Tip Utilizator:</label>
                    <select id="tip-utilizator" name="tip_utilizator" >
                        <option value="">Selecteaza</option>
                        <option value="parinte">Parinte</option>
                        <option value="copil">Copil</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="categorie-varsta">Categoria de Vârstă:</label>
                    <select id="categorie-varsta" name="categorie_varsta">
                        <option value="">Selecteaza</option>
                        <option value="sub 8 ani">Sub 8 ani</option>
                        <option value="8-10">8-10 ani</option>
                        <option value="10-12">10-12 ani</option>
                        <option value="12-14">12-14 ani</option>
                        <option value="peste 14 ani">Peste 14 ani</option>
                    </select>
                </div>
                <button type="submit" class="register-button">Inregistreaza-te</button>
                <a asp-area="" asp-page="/Login" class="create-account-link">Ai deja un cont? <strong>Autentifica-te</strong></a>
            </form>
        </div>
    
    </div>
</body>
</html>
