@page
@model AplicatieLicenta.Pages.Admin.AdaugareCartiPdfModel
@{
    Layout = "~/Pages/Shared/AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/adaugareCarte.css" />

<div class="container-adaugare">
    <h2>Adăugarea unei cărți în varianta PDF</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="TipCarte" value="PDF" />

        <label for="titlu">Titlu:</label>
        <input type="text" id="titlu" name="Titlu" required />

        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="Autor" required />

        <label for="ImagineCoperta">Imagine Copertă:</label>
        <div id="dropzone-coperta" class="dropzone">
            <p>Trage și plasează imaginea de copertă aici sau apasă pentru a selecta</p>
            <img id="preview-coperta" src="#" alt="Preview imagine copertă" style="display: none; max-width: 100%;" />
            <input type="file" id="ImagineCoperta" name="ImagineCoperta" accept="image/*" required />
        </div>

        <label for="UrlFisier">Fișier PDF:</label>
        <div id="dropzone-pdf" class="dropzone">
            <p>Trage și plasează fișierul PDF aici sau apasă pentru a selecta</p>
            <input type="file" id="UrlFisier" name="UrlFisier" accept="application/pdf" required />
        </div>

        <label for="CategorieVarsta">Categorie Vârstă:</label>
        <select id="CategorieVarsta" name="CategorieVarsta" required>
            <option value="Sub 8 ani">Sub 8 ani</option>
            <option value="8-10 ani">8-10 ani</option>
            <option value="10-12 ani">10-12 ani</option>
            <option value="12-14 ani">12-14 ani</option>
        </select>

        <button type="submit">Adaugă Carte PDF</button>
    </form>

</div>

<script src="~/js/adaugareCarte.js"></script>